<main>
  <article class="banner-proyectos">
  </article>
  <article class="proyectos">
    <section class="proyectos-programacion">
      <p>Proyectos de Ciclo Basico</p>
      <div class="galeria-proyectos">
        {{#if proyectos}}
        {{#each proyectos}}
        {{#if (eq carrera "Basico")}}
        <div class="carta-proyectos">
          <div class="carta-proyectos-img">
                        <iframe
                    width="100%"
                    height="100%"
                    src="{{srcVideo}}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
          </div>
          <div class="carta-proyectos-title">
            <p class="">{{proyectoNombre}}</p>
            <a href="/ver-mas/{{idProyecto}}">Ver Más</a>
          </div>
        </div>
        {{/if}}
        {{/each}}
        {{else}}
        <div>
          <h3>No hay ningun proyecto</h3>
          <a href="/">Ir al inicio</a>
        </div>
        {{/if}}


      </div>
    </section>
  </article>

</main>