<main class="main-ver-mas">
    <div class="novedad-container-vermas">
        <div class="carta-novedad-vermas">
            <div class="imagen">
                <img src="{{novedadGrande.imagenUrl}}" alt="Imagen sobre la novedad">
            </div>
            <div class="texto">
                <h1>{{novedadGrande.novedad}}</h1>
                <p>{{novedadGrande.descripcionLarga}}</p>
                    <p>{{novedadGrande.fecha}}</p>
            </div>
        </div>
    </div>
</main>
