<main>
  <article class="banner-informatica">
  </article>
  <article class="title-informatica">
    <h1>Tecnicatura en Informática</h1>
  </article>
  <article class="info-informatica">
    <p>En el área de informática lo que se hace es la instalación de cualquier
      tipo de software, armado y desarmado de computadoras, arreglo de las
      mismas y el conocimiento de todos los componentes.</p>
    <p>Asesorar y apoyar a los usuarios en el uso eficiente de equipos y
      programas, asegurando la integridad y acceso adecuado a los datos.
      Instalar, mantener y poner en funcionamiento equipos, redes y sistemas,
      así como adaptar programas a las necesidades del usuario. Organizar el
      ambiente informático de trabajo, comercializar y seleccionar productos o
      servicios tecnológicos, y participar en emprendimientos relacionados.
    </p>
    <h3>Al finalizar, los alumnos deben:</h3>
    <ul>
      <ol>-Conocer los sistemas socio-productivos locales y sus componentes
        tecnológicos.</ol>
      <ol>-Resolver problemas técnicos y tecnológicos.</ol>
      <ol>-Buscar, clasificar y comunicar información tecnológica correctamente.</ol>
      <ol>-Trabajar de forma organizada en equipo.</ol>
      <ol>-Diseñar y construir objetos o servicios planificando procesos y
        decisiones.</ol>
      <ol>-Utilizar herramientas y materiales de manera adecuada.</ol>
      <ol>-Prever riesgos y aplicar normas de seguridad.</ol>
      <ol>-Gestionar su propio aprendizaje de forma organizada y metódica.</ol>
    </ul>
  </article>
  <article class="horarios-informatica">
    <h2>Horarios</h2>
    <section class="horarios-btns-informatica">
      <div class="botones-informatica">
        <p>Horarios 4to 1ra</p>
        <a
          href="/pdfs/Horario 4°1°.pdf"
          download="Horarios 4to 1ra"
          target="_blank"
        >Descargar</a>
      </div>
      <div class="botones-informatica">
        <p>Horarios 5to 1ra</p>
        <a
          href="/pdfs/Horario 5°1°.pdf"
          download="Horarios 5to 1ra"
          target="_blank"
        >Descargar</a>
      </div>
      <div class="botones-informatica">
        <p>Horarios 6to 1ra</p>
        <a
          href="/pdfs/Horario 6°1°.pdf"
          download="Horarios 6to 1ra"
          target="_blank"
        >Descargar</a>
      </div>
      <div class="botones-informatica">
        <p>Horarios 7mo 1ra</p>
        <a
          href="/pdfs/Horario 7°1°.pdf"
          download="Horarios 7mo 1ra"
          target="_blank"
        >Descargar</a>
      </div>
    </section>
  </article>

</main>