        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <h2>Sobre Nosotros</h2>
                    <p>Somos una institucion educativa con las especialidades de Programacion, Informatica y Maestro mayor de obras</p>
                    <p>Ubicada en C. 368 Esq 316, B1886 Ranelagh, Provincia de Buenos Aires</p>
                </div>
                <div class="box">
                    <h2>Siguenos</h2>
                    <div class="red-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa-brands fa-tiktok"></a>
                    </div>
                </div>
                <div class="box">
                    <h2>Contactanos</h2>
                        <form class="form" action="">
                            <input placeholder="Nombre" required type="text">
                            <input placeholder="Correo Electronico" required type="email">
                            <textarea placeholder="Mensaje" required name="" id=""></textarea>
                            <button type="submit">Enviar</button>
                        </form>

                </div> 
            </div>
            <div class="grupo-2">
                <small>&copy; 2024 <b>E.E.S.T N°5</b> - Todos los Derechos Reservados.</small>
            </div>
        </footer>