    <header class="header">
        <div class="logo">EESTN5</div>
        <input type="checkbox" id="toggle">
        <label for="toggle"> <img src="media/menu.svg" alt="menu"> </label>

        <nav class="navegation">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Alumnos</a>
                    <ul>
                        <li><a href="/intensificacion">Intensificacion</a></li>
                        <li><a href="/previas">Previas</a></li>
                    </ul>
                </li>    
                <li><a href="#">Carreras</a>
                    <ul>
                        <li><a href="/informatica">Informatica</a></li>
                        <li><a href="/programacion">Programacion</a></li>
                        <li><a href="/mmo">MMO</a></li>
                    </ul>
                </li>   
                <li><a href="#">Proyectos</a>
                    <ul>
                        <li><a href="/proyectos-basico">Ciclo Basico</a></li>
                        <li><a href="/proyectos-superior">Ciclo Superior</a></li>
                    </ul>
                </li>
                <li><a href="/profesores">Noticias para profesores</a></li>
                <li><a href="/nosotros">Sobre nosotros</a></li>
                <li><a href="#" class="quiero">¡Quiero Inscribirme!</a></li>
            </ul>
        </nav>

    </header>