<main>
  <article class="banner-programacion">
  </article>
  <article class="title-programacion">
    <h1>Tecnicatura en Programación</h1>
  </article>
  <article class="info-programacion">
    <p>En el área de programación lo que se hace es la creación de códigos con
      diferentes lenguajes, entenderlos y explicarlos, se hacen páginas web,
      programas, bases de datos, videojuegos, Arduino y proyectos.</p>
    <p>Participar en proyectos de desarrollo de software, creando y manteniendo
      programas de complejidad media (sitios web y bases de datos). Realizar
      pruebas para asegurar el buen desempeño de las aplicaciones, redactar
      documentación técnica, instalar y actualizar software. Investigar y
      aplicar técnicas de diseño y codificación, seleccionar herramientas
      adecuadas y proponer soluciones a problemas.</p>
    <h3>Al finalizar, los alumnos deben:</h3>
    <ul>
      <ol>-Conocer los sistemas socio-productivos locales y sus componentes
        tecnológicos.</ol>
      <ol>-Resolver problemas técnicos y tecnológicos.</ol>
      <ol>-Buscar, clasificar y comunicar información tecnológica correctamente.</ol>
      <ol>-Trabajar de forma organizada en equipo.</ol>
      <ol>-Diseñar y construir objetos o servicios planificando procesos y
        decisiones.</ol>
      <ol>-Utilizar herramientas y materiales de manera adecuada.</ol>
      <ol>-Prever riesgos y aplicar normas de seguridad.</ol>
      <ol>-Gestionar su propio aprendizaje de forma organizada y metódica.</ol>
    </ul>
  </article>
  <article class="horarios-programacion">
    <h2>Horarios</h2>
    <section class="horarios-btns-programacion">
      <div class="botones-programacion">
        <p>Horarios 4to 2da</p>
        <a
          href="/pdfs/Horario 4°2°.pdf"
          download="Horarios 4to 2da"
          target="_blank"
        >Descargar</a>
      </div>
      <div class="botones-programacion">
        <p>Horarios 5to 2da</p>
        <a
          href="/pdfs/Horario 5°2°.pdf"
          download="Horarios 5to 2da"
          target="_blank"
        >Descargar</a>
      </div>
      <div class="botones-programacion">
        <p>Horarios 6to 2da</p>
        <a
          href="/pdfs/Horario 6°2°.pdf"
          download="Horarios 6to 2da"
          target="_blank"
        >Descargar</a>
      </div>
      <div class="botones-programacion">
        <p>Horarios 7mo 2da</p>
        <a
          href="/pdfs/Horario 7°2°.pdf"
          download="Horarios 7mo 2da"
          target="_blank"
        >Descargar</a>
      </div>
    </section>
  </article>

</main>