<main>
  <article class="banner-mmo">
  </article>
  <article class="title-mmo">
    <h1>Tecnicatura en Maestro Mayor de Obras</h1>
  </article>
  <article class="info-mmo">
    <p>En el área de maestro mayor de obra lo que se hace es la creación de
      maquetas con diferentes materiales, la creación de láminas con medidas
      exactas y el conocimiento de todo lo relacionado a cómo crear un edificio
      o casa con sus respectivos materiales y medida y espacios.</p>
    <p>El ciclo básico técnico busca desarrollar capacidades esenciales para los
      alumnos, independientemente de la tecnicatura que elijan en el ciclo
      superior. Hacia el final del ciclo, el aprendizaje se orienta hacia
      actividades socio-productivas locales para contextualizar la formación.</p>
    <h3>Al finalizar, los alumnos deben:</h3>
    <ul>
      <ol>-Conocer los sistemas socio-productivos locales y sus componentes
        tecnológicos.</ol>
      <ol>-Resolver problemas técnicos y tecnológicos.</ol>
      <ol>-Buscar, clasificar y comunicar información tecnológica correctamente.</ol>
      <ol>-Trabajar de forma organizada en equipo.</ol>
      <ol>-Diseñar y construir objetos o servicios planificando procesos y
        decisiones.</ol>
      <ol>-Utilizar herramientas y materiales de manera adecuada.</ol>
      <ol>-Prever riesgos y aplicar normas de seguridad.</ol>
      <ol>-Gestionar su propio aprendizaje de forma organizada y metódica.</ol>
    </ul>
  </article>
  <article class="horarios-mmo">
    <h2>Horarios</h2>
    <section class="horarios-btns-mmo">
      <div class="botones-mmo">
        <p>Horarios 4to 3ra</p>
        <a
          href="/pdfs/Horario 4°3°.pdf"
          download="Horarios 4to 3ra"
          target="_blank"
        >Descargar</a>
      </div>
      <div class="botones-mmo">
        <p>Horarios 5to 3ra</p>
        <a
          href="/pdfs/Horario 5°3°.pdf"
          download="Horarios 5to 3ra"
          target="_blank"
        >Descargar</a>
      </div>
      <div class="botones-mmo">
        <p>Horarios 6to 3ra</p>
        <a
          href="/pdfs/Horario 6°3°.pdf"
          download="Horarios 6to 3ra"
          target="_blank"
        >Descargar</a>
      </div>
      <div class="botones-mmo">
        <p>Horarios 7mo 3ra</p>
        <a
          href="/pdfs/Horario 7°3°.pdf"
          download="Horarios 7mo 3ra"
          target="_blank"
        >Descargar</a>
      </div>
    </section>
  </article>

</main>