<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/informatica.css">
    <link rel="stylesheet" href="/css/mmo.css">
    <link rel="stylesheet" href="/css/programacion.css">
    <link rel="stylesheet" href="/css/proyectos.css">
    <link rel="stylesheet" href="/css/vermas.css">
    <link rel="stylesheet" href="/css/previas.css">
    <link rel="stylesheet" href="/css/nosotros.css">
    <link rel="stylesheet" href="/css/noticia.css">
    <link rel="stylesheet" href="/css/noticiasprofes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <title>E.E.S.T N°5</title>
</head>
<body>
    {{>navigation}}
    {{{body}}}
    {{>footer}}
</body>
</html>