<main>
  <section class="intensificaciones-container">
    <h2>Intensificaciones</h2>
    <hr>
    <p>
      Las intensificaciones son instancias diseñadas para que los alumnos puedan
      reforzar y acreditar las materias que no lograron aprobar durante el ciclo
      lectivo. Este método permite que no sea necesario recursar materias ya
      aprobadas y que puedan enfocarse en aquellas pendientes.
    </p>
    <p>
      Se llevan a cabo en períodos específicos a lo largo del año: al inicio y
      al final de cada cuatrimestre, además de las instancias de febrero y
      diciembre. Durante estos períodos, <b>el alumno asistirá en el horario
      habitual de la materia pendiente, acompañado por su respectivo profesor,
      quien proporcionará el material y los temas necesarios para trabajar.</b>
    </p>
    <p>
      Es importante que los alumnos aprovechen estas oportunidades para ponerse
      al día con los contenidos, ya que el sistema está diseñado para no
      interrumpir la trayectoria educativa. Si tenés dudas adicionales sobre
      cómo funcionan las intensificaciones o el calendario específico, no dudes
      en contactarnos, todos nuestros <a href="#footer">medios de contacto</a> estan en el pie de
      página.
    </p>
    <hr>
  </section>

</main>