<main>
    <article class="title">
        <h1>Previas</h1>
    </article>
    
    <article class="descripcion">
        <p>En los siguientes links podes encontrar toda la información acerca de los temas que abordarán los alumnos a la hora de rendir materias previas.</p>
    </article>
    <article class="btns-previas">
        <h3>Materias Curriculares</h3>
        <div class="divisor uno">
            <div class="botones">
                <div class="materia">
                    <p>Materias Curriculares</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1ZSpzj7epwoucxOyKTgVwWt4KTnAiuGeS" target="_BLANK">Click Acá</a>
                </div> 
            </div>
        </div>
        
        <div class="divisor tres">
            <div class="botones">
                <div class="materia">
                    <p>Taller 1</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1JNd9KCjBB6VOPUjniQZQ6NMKNPSdunHk" target="_BLANK">Click Acá</a>
                </div> 
            </div>
            <div class="botones">
                <div class="materia">
                    <p>Taller 2</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1MOoHglGDudX9BmoCCrgANZGUltO1js6a" target="_BLANK">Click Acá</a>
                </div> 
            </div>
            <div class="botones">
                <div class="materia">
                    <p>Taller 3</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1SeICdG5wOL3voKSw-r1aCPJNETHItRR7" target="_BLANK">Click Acá</a>
                </div> 
            </div>
        </div>
        <div class="divisor tres">
            <div class="botones">
                <div class="materia">
                    <p>Información Contable 4to</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1L8_LppM7MriZsgpRd964_oQOLvJyeQEY" target="_BLANK">Click Acá</a>
                </div> 
            </div>
            <div class="botones">
                <div class="materia">
                    <p>Laboratorio 4°1°</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1-T1Vod7g28T0jvO5Wl_eeMnAO7OneQTR" target="_BLANK">Click Acá</a>
                </div> 
            </div>
            <div class="botones">
                <div class="materia">
                    <p>Laboratorio 4°2°</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1ZJc6lMYYAjY-J-nngyXccbcMLZhJacl8" target="_BLANK">Click Acá</a>
                </div> 
            </div>
        </div>
        <div class="divisor dos">
            <div class="botones">
                <div class="materia">
                    <p>Laboratorio 5°1°</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1yTpErMbVCfjss8hT7w6--9QVF1ZBPxsK" target="_BLANK">Click Acá</a>
                </div> 
            </div>
            <div class="botones">
                <div class="materia">
                    <p>Laboratorio 5°2°</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1PgdC7k0JzjeXoGgCBR6ILy0nZK1CCgaZ" target="_BLANK">Click Acá</a>
                </div> 
            </div>
        </div>
        <div class="divisor dos">
            <div class="botones">
                <div class="materia">
                    <p>Laboratorio 6°1°</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1mZl3HamR2DVymVkHwYGBl4GvYkXyS51u" target="_BLANK">Click Acá</a>
                </div> 
            </div>
            <div class="botones">
                <div class="materia">
                 <p>Laboratorio 6°2°</p>
             </div>
            <div class="boton">
                <a href="https://drive.google.com/drive/folders/1gZ7nZoHZRI1kfurnnPHuhP3mu3YXkIL6" target="_BLANK">Click Acá</a>
            </div> 
        </div>
        </div>
        <div class="divisor dos">
            <div class="botones">
                <div class="materia">
                    <p>Laboratorio 7°1°</p>
                </div>
                <div class="boton">
                    <a href="https://drive.google.com/drive/folders/1Nlw1qU5BdQm0Isi8uSkM55dNJRJKseuI" target="_BLANK">Click Acá</a>
                </div> 
            </div>
        <div class="botones">
            <div class="materia">
                <p>Laboratorio 7°2°</p>
            </div>
            <div class="boton">
                <a href="https://drive.google.com/drive/folders/1r7ccNkF-K0FyGTtQJOSr-eXD7ExnBlmJ" target="_BLANK">Click Acá</a>
            </div> 
         </div>
        </div>

    </article>
</main>
